/* @keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* .l {
    background-image: url('https://img.freepik.com/free-vector/hand-holding-phone-with-digital-wallet-service-sending-money-payment-transaction-transfer-through-mobile-app-flat-illustration_74855-20589.jpg?size=626&ext=jpg&ga=GA1.1.1428761677.1689065684&semt=sph');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    animation: slideIn 1s ease-in-out;
} */





.container {
    background-image: url('https://img.freepik.com/free-vector/key-concept-illustration_114360-6305.jpg?size=626&ext=jpg&uid=R135791312&ga=GA1.1.1428761677.1689065684&semt=sph');
    background-repeat: no-repeat;
    margin-left: 630px;
    margin-top: 150px;
    height: 70%;
    width: 50%;
    animation: slideIn 1s ease-in-out;
}
.App
{
    background-image: url('https://img.freepik.com/free-vector/access-control-system-abstract-concept-vector-illustration-security-system-authorize-entry-login-credentials-electronic-access-password-passphrase-pin-verification-abstract-metaphor_335657-5746.jpg?size=626&ext=jpg&uid=R135791312&ga=GA1.1.1428761677.1689065684&semt=sph');
    background-repeat: no-repeat;
    margin-top: 10px;
   
}
.lo{
    display: flex;
}
.lo
{
    color: rgb(138,43,226);
}

.mn
{
    border: 2px solid blueviolet;
    height: 35px;
    width: 30%;
    background-color: white;
    animation: slideIn 1s ease-in-out;
}
.ps
{
    border: 3px solid blueviolet;
    height: 35px;
    width: 30%;
    background-color: white;
    animation: slideIn 1s ease-in-out;
}
.fib
{
    text-align: center;
}
.lo{
    padding-left: 70px;
}
.bt
{
    
    height: 30px;
    width:70px;
    color: green;
    
}
.dt
{
    color:  rgb(138,43,226);
}

/* #head,
#title {
    color: blueviolet;
    margin-top: 20px;
    animation: slideIn 1s ease-in-out;
}

#title {
    margin-top: 10px;
    color:green
}

#t {
    color: green;
    margin-top: 20px;
    animation: slideIn 1s ease-in-out;
}

#usrnm,
#email,
#password,
#mobilenumber {
    border: 2px solid blueviolet;
    height: 35px;
    width: 60%;
    background-color: white;
    animation: slideIn 1s ease-in-out;
   
}

#cname,
#cemail,
#cpassword,
#cphone {
    color: green;
}

.fields {
    margin-top: 100px;
    animation: slideIn 1s ease-in-out;
}

#lower {
    color: blueviolet;
    animation: slideIn 1s ease-in-out;
} */