.container {
    background-image: url('https://img.freepik.com/free-vector/key-concept-illustration_114360-6305.jpg?size=626&ext=jpg&uid=R135791312&ga=GA1.1.1428761677.1689065684&semt=sph');
    background-repeat: no-repeat;
    margin-left: 630px;
   margin-bottom: 50px;
   margin-top: -1%;
    width: 50%;
    animation: slideIn 1s ease-in-out;
}
.App
{
    background-image: url('https://img.freepik.com/free-vector/access-control-system-abstract-concept-vector-illustration-security-system-authorize-entry-login-credentials-electronic-access-password-passphrase-pin-verification-abstract-metaphor_335657-5746.jpg?size=626&ext=jpg&uid=R135791312&ga=GA1.1.1428761677.1689065684&semt=sph');
    background-repeat: no-repeat;
    margin-top: 10px;
}
.l{
  display: flex;
  margin-left: 100px;
}
.lo
{
    color: rgb(138,43,226);
}

.mn
{
    border: 2px solid blueviolet;
    height: 35px;
    width: 30%;
    background-color: white;
    animation: slideIn 1s ease-in-out;
}
.ps
{
    border: 2px solid blueviolet;
    height: 35px;
    width: 30%;
    background-color: white;
    animation: slideIn 1s ease-in-out;
}
.fib
{
    text-align: center;
}
.lo{
    padding-left: 70px;
}
.bt
{
    
    height: 30px;
    width:70px;
    color: green;
    
}
.dt
{
    color:  rgb(138,43,226);
}